@media (min-width: 1200px) {
  .widget-quicklink .content {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .widget-testimonial-slide .client-carousel {
    padding-left: 150px;
  }
  .section_lookbook .block-filterproducts{
      padding: 50px 60px;
  }
  .products-slider-home .block-filterproducts .block-title p.posttext{
      width: 75%; 
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
	.home-page-40 .block-title h3.title {
		font-size:40px;
	}
  .widget-quicklink .content ul li a {
    padding: 1.5rem 4rem;
  }
  .widget-testimonial-slide .client-carousel {
    padding-left: 30px;
  }
  .widget-testimonial-slide .testimonial .item .client-quote {
    font-size:43px;
    line-height: 45px;
  }
  .widget-testimonial-slide.owl-style2 .owl-nav {
    margin-top: 48px;
  }
  .home-page-40 .slidershow .slidershow-type-40 .owl-stage-outer .owl-item .item .caption-panel p.slide-text{
	font-size: 4rem;
    line-height: 5rem;
  }
}
@media (max-width: 991px) {
	.block.block-filterproducts .products-grid .product-item {
        margin-bottom: 0 !important;
    }
	.home-page-40 .block-title h3.title {
		font-size:40px;
	}
  .products-slider-home .block-filterproducts .block-title {
	margin-bottom:30px;
	h3.title{
		margin-bottom:20px;
	}
  }
  .widget-quicklink ul{
	gap: 10px;
  }
  .home-page-40 .slidershow .slidershow-type-40 .owl-stage-outer .owl-item .item .caption-panel p.slide-text{
	font-size: 4rem;
    line-height: 5rem;
  }
  .widget-quicklink .content ul li a {
    padding: 1rem 2rem;
    font-size:100%;
  }
}
@media (max-width: 767px) {
  .widget-quicklink ul {
    gap: 10px;
  }
  .widget-testimonial-slide .testimonial {
    flex-direction: column;
    row-gap: 30px;
  }
  .widget-testimonial-slide .testimonial > div {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .widget-testimonial-slide .testimonial .item .client-quote {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 20px;
  }
  .widget-testimonial-slide .custom-reviews {
    margin-bottom: 20px;
  }
  .widget-testimonial-slide.owl-style2 .owl-nav {
    margin-top: 30px;
  } 
}
@media screen and (max-width: 1367px) {
  .widget-testimonial-slide br {
    display: none;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .widget-testimonial-slide .client-carousel {
    padding-left: 30px;
  }
  .widget-testimonial-slide .testimonial .item .client-quote {
    font-size: 34px;
    line-height: 45px;
    margin-bottom: 20px;
  }
  .widget-testimonial-slide .custom-reviews {
    margin-bottom: 20px;
  }
  .widget-testimonial-slide.owl-style2 .owl-nav {
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
	.home-page-40 .slidershow .slidershow-type-40 {
		.owl-dots{
		    bottom: 5px;
		}
		.owl-stage-outer .owl-item .item .caption-panel {
			p.slide-text {
				font-size: 2.2rem;
				line-height: 2.5rem;
			}
			p.slide-subtitle{
				display:none;
			}
		}
	}
	.products-slider-home .block-filterproducts .owl-dots {
		position: static;
		margin-bottom: 40px;
	}
    
}