<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer">
            <group id="guest_to_customer" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Guest to Customer</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Convert Guest Orders to Customer Accounts</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>After a guest places an order, create a customer account from the order details and attach the order to it. The customer receives the standard "set your password" welcome email.</comment>
                </field>
                <field id="link_existing" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Attach to Existing Account</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If the guest's email already has an account, attach the order to that account instead of leaving it as a guest order.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
