<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer>
            <guest_to_customer>
                <enabled>1</enabled>
                <link_existing>1</link_existing>
            </guest_to_customer>
        </customer>
    </default>
</config>
