@media (min-width: 1200px) {
	.block-subscribe-footer .newsletter-content .input-box input{
		min-width: 280px;
	}
}
@media (max-width: 1199px) {
	.social-block-list {
		margin: 20px 0;
	}
}
@media (max-width: 767px) {
	.social-block-list {
		margin: 20px 0;
	}
	.block-subscribe-footer .newsletter-content .input-box input {
		min-width: 240px;
	}
    .footer-bottom{
		text-align: center;
		.payment-footer{
		 margin: 0 0 10px;
		}
		address{
			text-align: center; 
		}
	} 
	.block-subscribe-footer {
		margin-left: 0;
	}
	.footer-top .info__heading,.block-subscribe h3{
	    font-size: 20px;
	}
}

