<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Layer">
        <plugin name="local_kratom_search_tweaks_layer"
                type="Local\KratomSearchTweaks\Plugin\Layer\KratomSearchOnlyPlugin" />
    </type>
    <type name="Magento\LayeredNavigation\Block\Navigation">
        <plugin name="local_kratom_search_tweaks_layerednav_filters"
                type="Local\KratomSearchTweaks\Plugin\LayeredNavigation\HideDemoFiltersPlugin" />
    </type>
    <type name="Magento\Framework\App\FrontController">
        <plugin name="local_kratom_search_tweaks_customer_post_method"
                type="Local\KratomSearchTweaks\Plugin\FrontController\NormalizeCustomerPostPathPlugin"
                sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Block\Cart\Sidebar">
        <plugin name="addPayLaterMessageConfig" disabled="true" />
        <plugin name="local_kratom_search_tweaks_guarded_pay_later_message_config"
                type="Local\KratomSearchTweaks\Plugin\Checkout\Cart\GuardedPayLaterMessageConfigPlugin" />
    </type>
</config>
